name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    
    - name: Restore dependencies
      run: dotnet restore MelonStudio.sln -r win-x64
    
    - name: Build
      run: dotnet build MelonStudio.sln --configuration Release --no-restore -r win-x64
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: MelonStudio-Release
        path: MelonStudio/bin/x64/Release/net8.0-windows/win-x64/
