name: Build MelonStudio

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore MelonStudio.sln

    - name: Build
      run: dotnet build MelonStudio.sln --configuration Release --no-restore

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: MelonStudio-Build
        path: MelonStudio/bin/Release/net8.0-windows/
