name: Build MelonStudio

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore MelonStudio.sln

    - name: Build
      # Builds the solution in Release mode for x64
      run: dotnet build MelonStudio.sln --configuration Release --no-restore /p:Platform=x64

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: MelonStudio-Build
        path: MelonStudio/bin/x64/Release/net8.0-windows10.0.19041.0/win-x64/
